@model IEnumerable<SynopticProjectChatAgent.Models.Holiday>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FilteredResults</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoliidayReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HotelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Continent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PricePerNight)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</body>
</html>
